html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;

}

.footer {
  position: absolute;
  width: 100%;
}

.logoFooter {
  float: left;
}

.footer > span {
  padding-top: 15px;
  float: left;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $backgroundColor;
  height: $headerMinHeight;
  color: white;
  text-align: center;
  margin-bottom: -142px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
