html,body {
  margin:0;
  height:100%;
  font-family: 'Josefin Sans', sans-serif;

}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
}

.logoFooter {
  float: left;
}

.footer > span {
  float: left;
  padding-top: 15px;
}

.App {
  text-align: center;
  margin-bottom: -142px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $backgroundColor;
  height: $headerMinHeight;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
